@model WEBAPP.Models.Company
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Company List";
}
<script>
    $(document).ready(function () {
        $("#FollowUpDateFrom").datepicker({
            dateFormat: 'dd-mm-yy', changeMonth: true,
            changeYear: true
        });
        $("#FollowUpDateTo").datepicker({
            dateFormat: 'dd-mm-yy', changeMonth: true,
            changeYear: true
        });
        $("#CallDone").datepicker({
            dateFormat: 'mm-dd-yy', changeMonth: true,
            changeYear: true
        });

        $("#CallCompleted").datepicker({
            dateFormat: 'mm-dd-yy', changeMonth: true,
            changeYear: true
        });


        $("#ContactDOB").datepicker({
            dateFormat: 'mm-dd-yy', changeMonth: true,
            changeYear: true
        });
        $("#sDateGiven").datepicker({
            dateFormat: 'mm-dd-yy', changeMonth: true,
            changeYear: true
        });


        getyear();
    });
    function getyear() {
        $("#SYear").html("");
        var year = new Date().getFullYear() + 5;
        for (i = year; i > 1990; i--) {
            $('#SYear').append($('<option />').val(i).html(i));
        }
    }
</script>
<style>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }

    .himlay {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*margin-right: 171px;*/
        margin-left: -15px;
    }

    .scrollit {
        overflow: scroll;
        height: 598px;
    }
</style>
@*<h2>Company List</h2>*@
@*<script>
        $(function () {
            $('#filter').change(function () {
            });
        });
    </script>*@
@using (Html.BeginForm("CompanyList", "Company", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
{
    <div class="form-row">
        <label for="filter"> <b></b></label>
        <div class="col-3">
            <select class="form-control " id="filter" name="filter">
                <option value="">Follow Ups</option>
                <option value="All">All</option>
                <option value="Today">Today</option>
                <option value="Past">Past</option>
                <option value="ThisMonth">This Month</option>
                <option value="Important">Important</option>
                <option value="Positive">Positive</option>
                <option value="Coordination">Coordination</option>
                @if (User.Identity.GetUserName().ToUpper() == "ADMIN@AE.IN")
                {
                    <option value="Deleted">Deleted</option>
                }
            </select>
        </div>
        <div class="col-2">
            <input type="text" class="form-control " id="text2" name="Global" placeholder="Global Search" />
        </div>
        <div class="col">
            <button class="btn btn-sm btn-primary" type="submit">
                <i class="fas fa-search"></i><span> Search</span>
            </button>
            @if (User.Identity.GetUserName().ToUpper() == "ADMIN@AE.IN")
            {
                @Ajax.ActionLink("Create", // <-- Text to display
                       "Create", // <-- Action Method Name
                       new { },
                       new AjaxOptions
                       {
                           UpdateTargetId = "dv_PartialView", // <-- DOM element ID to update
                           InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                           HttpMethod = "GET" // <-- HTTP method
                       }, new { @class = "btn btn-sm btn-success" })
            }

        </div>
        <div class="col">
            <a class="btn btn-sm btn-warning" style="color:white" data-toggle="modal" data-target="#exampleModalScrollable_search"> <i class="fas  fa-search"></i>Advance Search</a>
            <div class="modal fade" id="exampleModalScrollable_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Advance Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @using (Html.BeginForm("CompanyListSearch", "Company", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> JD Received</label>
                                        <select name="Year" id="SYear" class="form-control multiselect-ui" multiple="multiple"></select>
                                    </div>
                                    @*<div class="col">
                                            <label class="control-label">Color Code </label>
                                            @Html.DropDownList("ColorCode", new SelectList(Model.FirstOrDefault().ddlcolor, "value", "text"), new { @class = "form-control multiselect-ui", @multiple = "multiple" })
                                        </div>*@
                                    <div class="col">
                                        <label class="control-label">Stream </label>
                                        @Html.DropDownList("SearchStream", new SelectList(Model.MyStream.ToList().Select(s => new { Id = s.Id, CourseName = string.Format("{0}-- {1}", s.CourseName, s.StreamName), StreamName = s.StreamName }).ToList(), "StreamName", "CourseName"), new { @style = "width:150px", @class = "form-control multiselect-ui select2", @multiple = "multiple" })
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Sector  </label>
                                        @Html.DropDownList("SearchSector", new SelectList(Model.ddlSector, "value", "text"), new { @style = "width:150px", @class = "form-control multiselect-ui select2", @multiple = "multiple" })
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Hired From </label>
                                        @Html.DropDownList("SearchCollege", new SelectList(Model.objCollegeMasterList, "value", "text"), new { @style = "width:150px", @class = "form-control  select2", @multiple = "multiple" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Visit Status</label>
                                        <select class="form-control" name="VisitStatus">
                                            <option value="">Select</option>
                                            <option value="true">Done</option>
                                            <option value="false">Required</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Visit Details</label>
                                        <input class="form-control" type="text" name="VisitDetails" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Events</label>
                                        @Html.DropDownList("EventTypeId", Model.objCollegeEventList, "", new { @class = "form-control" })
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Events Status</label>
                                        <select class="form-control" name="EventStatus">
                                            <option value="">Select</option>
                                            <option value="true">Required</option>
                                            <option value="false">Done</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Sub Location</label>
                                        <input class="form-control" type="text" name="SubLocation" />
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> City</label>
                                        @Html.DropDownList("sCityId", Model.ddlCity, "select", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">

                                        <label class="control-label"> Transferred From</label>
                                        <input class="form-control" type="text" name="TransferredFrom" />
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Research Source</label>
                                        <input class="form-control" type="text" name="ResearchSource" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> FollowUp From</label>
                                        <input type="text" class="form-control" id="FollowUpDateFrom" name="FollowUpDateFrom" />

                                    </div>
                                    <div class="col">
                                        <label class="control-label"> FollowUp To</label>
                                        <input type="text" class="form-control" id="FollowUpDateTo" name="FollowUpDateTo" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Package </label>
                                        <select name="Package" class="form-control">
                                            <option value="">Select Package</option>
                                            <option value="0-1">0-1 Lac</option>
                                            <option value="1-2">1-2 Lac</option>
                                            <option value="2-3">2-3 Lac</option>
                                            <option value="3-4">3-4 Lac</option>
                                            <option value="4-5">4-5 Lac</option>
                                            <option value="5-6">5-6 Lac</option>
                                            <option value="6-7">6-7 Lac</option>
                                            <option value="8">7-8 Lac</option>
                                            <option value="8-9">8-9 lac</option>
                                            <option value="9-10">9-10 lac</option>
                                            <option value="10-15">10-15 lac</option>
                                            <option value="15-20">15-20 lac</option>
                                            <option value="20-30">20-30 lac</option>
                                            <option value="30-40">30-40 lac</option>
                                            <option value="40-">40-50 lac</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Color</label>
                                        @Html.DropDownList("ColorCode", Model.ddlcolor, "select", new { @class = "form-control", @id = "AdvColorCode" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Call Done</label>
                                        <input class="form-control" type="text" id="CallDone" name="CallDone" />
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Accept Gift</label>
                                        <input class="form-control" type="text" id="AcceptGift" name="AcceptGift" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Is Active</label>
                                        <select class="form-control" name="IsActive">
                                            <option value="">Please Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Summer Training</label>
                                        <input class="form-control" type="text" name="SummerTraining" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> DOB</label>
                                        <input type="text" class="form-control" id="ContactDOB" name="DOB" />
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Contact Number</label>
                                        <input type="text" class="form-control" id="Contact" name="Contact" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Third Party</label>
                                        @*<input type="text" class="form-control" id="ThirdParty" name="ThirdParty" />*@
                                        @Html.DropDownListFor(m => m.ThirdParty, Model.ddlthirdparty, "select", new { @class = "form-control" })

                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Alloted To</label>
                                        <input type="text" class="form-control" id="AllotedTo" name="AllotedTo" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> Date Given</label>
                                        <input type="text" class="form-control" id="sDateGiven" name="DateGiven" />
                                    </div>
                                    <div class="col">
                                        <label class="control-label"> Company Name(All users)</label>
                                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label"> MTC/STC</label>
                                        <input type="text" class="form-control" id="MTCorSTC" name="MTCorSTC" />
                                    </div>

                                    <div class="col">
                                        <label class="control-label"> Call Completed</label>
                                        <input type="text" class="form-control" id="CallCompleted" name="CallCompleted" />
                                    </div>


                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-sm btn-warning" style="color:white" data-toggle="modal" data-target="#exampleModalScrollable_planner"> <i class="fas  fa-calendar"></i>Planner</a>
            <div class="modal fade" id="exampleModalScrollable_planner" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog fullheight  modal-lg" role="document">
                    <div class="modal-content fullwidth" style="width:950px;margin:0 auto">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Planner</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <div id='calendar-container'>
                                <div id='calendar'></div>
                            </div>


                            @*<table class="table CNtable">
                                    <thead style="background-color:#007bff;color:white">
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th>Description</th>
                                            <th>Created On</th>
                                            <th>Company</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var subitem in Model.CompanyList)
                                        {
                                            if (subitem.CallNoteList.Count > 0) {
                                            <tr>

                                                <td>
                                                    @if (subitem.CallNoteList[0].Type == 5)
                                                    {
                                                        <label>--</label>
                                                    }
                                                    else
                                                    {
                                                         @subitem.CallNoteList[0].ActivityDate.ToString("dd MMM yyyy")
                                                    }

                                                </td>
                                                <td>
                                                    @if (subitem.CallNoteList[0].Type == 1)
                                                    {
                                                        <button class="btn btn-sm">Follow Ups</button> @subitem.CallNoteList[0].Description

                                                    }
                                                    @if (subitem.CallNoteList[0].Type == 2)
                                                    {
                                                        <button class="btn btn-sm ">Co-Ordination</button> @subitem.CallNoteList[0].Description

                                                    }
                                                    @if (subitem.CallNoteList[0].Type == 3)
                                                    {
                                                        <button class="btn btn-sm">Important</button> @subitem.CallNoteList[0].Description

                                                    }
                                                    @if (subitem.CallNoteList[0].Type == 4)
                                                    {
                                                        <button class="btn btn-sm">Positive</button> @subitem.CallNoteList[0].Description

                                                    }
                                                    @if (subitem.CallNoteList[0].Type == 5)
                                                    {
                                                        <button class="btn btn-sm">End</button> @subitem.CallNoteList[0].Description

                                                    }
                                                </td>
                                                <td>
                                                    @if (subitem.CallNoteList[0].CreatedOn.ToString("yyyy-MM-dd") == "2010-01-01")
                                                    {
                                                        <label>--</label>
                                                    }
                                                    else
                                                    {

                                                        @subitem.CallNoteList[0].CreatedOn.ToString("dd MMM yyyy")
                                                    }

                                                </td>
                                                <td>
                                                    @subitem.CompanyName
                                                </td>
                                                <td>
                                                    @if (subitem.CallNoteList[0].CreatedOn.ToString("yyyy-MM-dd") == DateTime.Now.Date.ToString("yyyy-MM-dd"))
                                                    {
                                                        <a class="btn btn-sm btn-success" onclick="getCallNote(`@subitem.CallNoteList[0].Id`);">edit</a>
                                                    }
                                                    <a class="btn btn-sm" onclick="DeleteCommon(`@subitem.CallNoteList[0].Id`,'Callnotes','Id');"> <i class="fa fa-trash" aria-hidden="true"></i> </a>

                                                </td>



                                            </tr>
                                            }
                                        }
                                    </tbody>

                                </table>*@


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />




<div class="row himlay" style="border-right:-1.5px  solid lightgrey">
    <div class="col-4 scrollit">
        <table id="data" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Alloted To
                    </th>
                    <th>
                        Date Given
                    </th>
                    <th>
                        Created On
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    </div>
     

    
        <script>
            $(document).ready(function () {
                $(".table").dataTable();
            });

            $('#exampleModalScrollable_planner').on('shown.bs.modal', function () {

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    navLinks: true, // can click day/week names to navigate views
                    nowIndicator: true,
                    //weekNumbers: true,
                    //weekNumberCalculation: 'ISO',
                    businessHours: true,
                    contentHeight: 'auto',
                    displayEventTime: false,
                    editable: false,
                    selectable: false,
                    dayMaxEvents: true, // allow "more" link when too many events
                    events: '/company/GetPlannerCalls'
                    //    [
                    //    {
                    //        title: 'All Day Event',
                    //        start: '2020-09-01'
                    //    },
                    //    {
                    //        title: 'Long Event',
                    //        start: '2020-09-07',
                    //        end: '2020-09-10'
                    //    },
                    //    {
                    //        groupId: 999,
                    //        title: 'Repeating Event',
                    //        start: '2020-09-09T16:00:00'
                    //    },
                    //    {
                    //        groupId: 999,
                    //        title: 'Repeating Event',
                    //        start: '2020-09-16T16:00:00'
                    //    },
                    //    {
                    //        title: 'Conference',
                    //        start: '2020-09-11',
                    //        end: '2020-09-13'
                    //    },
                    //    {
                    //        title: 'Meeting',
                    //        start: '2020-09-12T10:30:00',
                    //        end: '2020-09-12T12:30:00'
                    //    },
                    //    {
                    //        title: 'Lunch',
                    //        start: '2020-09-12T12:00:00'
                    //    },
                    //    {
                    //        title: 'Meeting',
                    //        start: '2020-09-12T14:30:00'
                    //    },
                    //    {
                    //        title: 'Happy Hour',
                    //        start: '2020-09-12T17:30:00'
                    //    },
                    //    {
                    //        title: 'Dinner',
                    //        start: '2020-09-12T20:00:00'
                    //    },
                    //    {
                    //        title: 'Birthday Party',
                    //        start: '2020-09-13T07:00:00'
                    //    },
                    //    {
                    //        title: 'Click for Google',
                    //        url: 'http://google.com/',
                    //        start: '2020-09-28'
                    //    }
                    //]
                });

                calendar.render();
            });

            $('.select2').select2();
        </script>

        <script>
            GetDataTableData();
            function GetDataTableData() {
                $("#data").DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "orderMulti": false,
                    "destroy": true,
                    "ordering": true,
                    "ajax": {
                        "url": '/Company/GetDetails',
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        {
                            "data": "CompanyName", "name": "CompanyName", "autoWidth": true,
                            mRender: function (data, type, full) {
                                var id = data;
                                return "<p style='background-color:#090;color: white;text-align: center;'>" + id + "</p>";
                            }
                        }
                        , { "data": "AllotedTo", "name": "AllotedTo", "autoWidth": true }
                        , { "data": "DateGiven", "name": "DateGiven", "autoWidth": true }
                        , { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true }
                    ]
                });
            }
        </script>


        <style>



                    .fc-header-toolbar {
                        /*
            the calendar will be butting up against the edges,
            but let's scoot in the header's buttons
            */
                        padding-top: 1em;
                        padding-left: 1em;
                        padding-right: 1em;
                    }

                    #calendar {
                        margin: 0 auto !important;
                    }
        </style>
