@model WEBAPP.Models.RegisterViewModel

@{
    /**/

    ViewBag.Title = "Add User";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    
    @Html.ValidationSummary("", new { @class = "text-danger" })

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label required" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @required = "required" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @required = "required" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly", @required = "required" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @required = "required", @autocomplete = "off" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        <select name="Gender" class="form-control" required>
            <option>
                Male
            </option>
            <option>
                Female
            </option>
        </select>

    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Barcode, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", @required = "required", @autocomplete = "off" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.FatherName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", @required = "required", @autocomplete = "off" })
    </div>
</div>

<div class="form-group">
    @*@Html.LabelFor(m => m.CompanyId, new { @class = "col-md-2 control-label" })*@
    <label class="control-label">CompanyId </label>
    <div class="col-md-10">
        @* @Html.DropDownList("CompanyId", Model.ddlCompany, "select", new { @class = "form-control", @required = "required" })*@
        <select name="CompanyId" class="form-control" required>
            <option value="1">
                Tata motors
            </option>
            <option value="2">
                Ashok Leyland
            </option>
        </select>

    </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Designatation, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Designatation, new { @class = "form-control", @required = "required", @autocomplete = "off" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.UANNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UANNumber, new { @class = "form-control", @required = "required", @autocomplete = "off" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ESICNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ESICNumber, new { @class = "form-control", @required = "required", @autocomplete = "off" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AdharNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AdharNumber, new { @class = "form-control", @required = "required", @autocomplete = "off" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SalaryDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SalaryDate, new { @class = "form-control", @required = "required", @autocomplete = "off" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
        }

        <script>

            $("#DOB").datepicker({
                dateFormat: 'mm-dd-yy',
                changeYear: true,
                yearRange: "-100:+0"
            });
        </script>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
